node_modules

api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=1c3e320d963d88f4616259a84c7026e9
Access Key: 1c3e320d963d88f4616259a84c7026e9

GIPHY
https://developers.giphy.com/docs/api
Access key : MA7ohxIYwTdEkW4gq9ieDD4NzeQmKE9k