<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
</head>
<body>
  <div class="hero spacing">
    <div class="container">
      <input type="text" id="searchInput">
      <input type="submit" value="search" id="searchBtn" class="btn">
      <div class="weather-content">
        <p id="cityName"></p>
        <small id="date">date</small>
        <h1 id="temperature">23"</h1>
        <span id="hights">Hights" </span>|
        <span id="lows"> Lows"</span>
      </div>
    </div>
  </div>
</body>
</html>