<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
</head>
<body>
    <div class="hero">
      <div class="container">
        <header class="spacing">
          <input type="text" autocomplete="off" class="search-field" placeholder="Search for a city..." />
          <input type="submit" class="search-btn" value="Search" />
        </header>
        <main>
          <section class="location spacing">
            <div class="city"></div>
            <div class="date"></div>
          </section>

          <div class="current spacing">
            <div class="temperature">
              <span class="temp"></span>
              <span class="unit"></span>
            </div>

            <div class="weather"></div>

            <div class="hi-low">
              <span class="low"></span>
              <span class="unit"></span> |
              <span class="hi"></span>
              <span class="unit"></span>
            </div>
          </div>
        </main>
      </div>
    </div>
</body>
</html>