*,
*::before,
*::after {
  box-sizing: border-box;
}

.hero {
  --clr-accent: #faa700;
}


body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
  border: 1px solid var(--clr-accent);
  padding: 2rem;
}

.spacing>*+* {
  margin-top: var(--spacer, 1rem)
}

.hero {
  color: white;
  text-align: center;
  background: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

 @supports (background-blend-mode: multiply) {
   background: url(./assets/macbook.jpg),
   radial-gradient(#444, #111);
   background-blend-mode: multiply;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
 }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .search-field {
    padding: .5rem;
    color: var(--clr-accent);
    border-radius: .25rem;
    width: 80%;
    border: none;
  }

  .search-btn {
    color: var(--clr-text, #fff);
    font-weight: 700;
    font-size: 1.125rem;
    padding: .5em 1.5rem;
    background: var(--clr-accent, blue);
    border-radius: .25em;
    border: none;
    transition:
    transform 250ms ease-in-out,
    opacity 250ms linear;
    
    &:hover,
    &:focus {
      transform: scale(1.1);
      opacity: .9;
    }
  }
}

.current {

  .temp {
    margin-top: var(--spacer, 1rem);
    color: green;
    font-size: clamp(2.5rem, calc(7vw + 2rem), 7rem);
  }

  .weather {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.location {

  .city {
    margin-top: var(--spacer, 1rem);
    font-size: clamp(1.5rem, calc(5vw + 1rem), 2.1rem);
  }

  .date {
    font-size: .8rem;
  }
}
