*,
*::before,
*::after {
  box-sizing: border-box;
}

.hero {
  --clr-accent: #faa700;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.spacing>*+* {
  margin-top: var(--spacer, 2rem)
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: .5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: .25em;
  transition:
    transform 250ms ease-in-out,
    opacity 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: .9;
}

.hero {
  color: white;
  text-align: center;
  padding: 15em 0;
  background: #222;
  min-height: 100vh;

  @supports (background-blend-mode: multiply) {
    background: url(./assets/macbook.jpg),
      radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}